// Fonts
@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/Quicksand-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Quicksand';
    font-weight: 700;
    src: url('/fonts/Quicksand-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Quicksand';
    font-weight: bold;
    src: url('/fonts/Quicksand-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Quicksand';
    font-weight: 300;
    src: url('/fonts/Quicksand-Light.ttf') format('truetype');
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
